[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# MemoryCaptures
MemoryCaptures/

# Asset meta data should be visible
!Assets/**/*.meta

# Visual Studio / Rider
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db